/* RESET */
body, div, ul, li, p {
  margin:0;
  padding:0;
}

a img {
  border:none;
}


/* BASIC */
a {
  color:white;
}

body {
  background: #76131B url('../images/bg.jpg') fixed;
  color:white;
  font: 1em/1.5em "Adobe Garamond Pro", Georgia, serif;
}



/* BASIC CLASSES */

.quote {
  font-style: italic;
}

.quote .author {
  font-size: small;
  text-align: right;
  color:#F66;
}

.description {
  color:#F66;
}




#home_body {
  padding:3em;
  padding-bottom:1em;
}


/* TITLE */
#home_body #title {
  margin-bottom:2.5em;
  text-align:center;
}
#home_body #title img{
  display:inline;
  margin-right:10px;
  margin-bottom:-13px;
}
#home_body h1 a {
  font-size:65px;
  line-height:70px;
  font-weight: normal;
  text-decoration: none;
  letter-spacing:10px;
}

#home_body #claim {
  font-style: italic;
  font-size:20px;
  font-weight: normal;
  word-spacing: 5px;
  letter-spacing: 0.2em;
  margin-left:6em;
  text-align:center;
}




/* SUMMARY */

#home_body #summary {
  width:50%;
  float:left;
}
#home_body #summary .quote{
  font-size: 1.5em;
  margin:0 auto;
  width:15em;
}




/* SECTIONS */

#home_body #sections{
/*  font-size:1.25em;*/
  width:22.5em;
  margin:0 auto;
  margin-top:3.5em;
}
#home_body #sections ul{
  list-style-type: none;
/*  font-size:1.2em;*/
/*  font-style: italic;*/
  line-height:1em;
  font-size:large;
}
#home_body #sections ul li{
  margin-bottom:1em;
}
#home_body #sections ul li a{
  text-transform:uppercase;
}
#home_body #sections ul li .description{
  font-variant:small-caps;
  font-size:small;
}



/* CLIENT_SECTIONS */

#home_body #client_sections {
  float:left;
  width: 49%;
}

#home_body #client_sections ul{
  list-style: none;
  line-height:1em;
}

#home_body #client_sections ul li{
  font-size:large;
  margin-bottom:1em;
}

#home_body #client_sections ul li a{
  text-transform:uppercase;
}

#home_body #client_sections ul li:hover{
  list-style: circle outside;
}

#home_body #client_sections ul li .description{
  font-variant: small-caps;
  font-size:small;
}




/* FOOTER */

#footer {
  text-transform:uppercase;
  clear:both;
  width:50em;
  margin:auto;
  text-align:center;
  border-top:solid 1px #f66;
  margin-top:2em;
  padding-top:1em;
  font-size:small;
}

#footer #contacts {
  letter-spacing:0.1em;
}



